  body,
  td,
  th,
  tr,
  p,
  a {
  	font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  	font-size: 1.1rem;
  	font-weight: 400;
  	color: #444;
  }

  a {
  	color: #1772d0;
  	text-decoration: none;
  }

  a:focus,
  a:hover {
  	color: #f09220;
  	text-decoration: none;
  }

  strong {
  	/* font-family: 'Roboto', sans-serif; */
  	font-size: 1rem;
  	font-weight: 600
  }

  heading {
	font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600
  }

  papertitle {
  	/* font-family: 'Roboto', sans-serif; */
  	font-size: 16px;
  	font-weight: 600
  }

  name {
	font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: 500
  }

  .one {
	width: 160px;
	height: 160px;
	position: relative;
  }

  .two {
	width: 160px;
	height: 160px;
	position: absolute;
	transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
  }

  .fade {
	transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
  }
  
  span.highlight {
  	background-color: #ffffd0;
  }

  .img-hover-zoom img {
  	transition: transform .5s ease;
  }

  .img-hover-zoom:hover img {
  	transform: scale(1.2);
  	box-shadow: 4px 4px 4px 4px rgba(68, 68, 68, 0.6);
  }